.header{
    background-color: #F55A5A;
    padding: 1rem;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
i{
    margin-right: 0.5rem;
    font-size: 2em;
}
.header > p{
    line-height: 2.5em;
}