.Picture{
    border-radius: 5px;
    background-color: grey;
    margin-right: 2rem;
    min-width: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 250px;
}
.Picture.Japan{
    background-image: url("../img/japan.jpg");
}
.Picture.Norway{
    background-image: url("../img/norway.jpg");
}
.Picture.Australia{
    background-image: url("../img/australia.jpg");
}
.link{
    vertical-align: bottom;
}